<footer>
    <div class="container text-center">
        <p class="float-left">© 2020 Company, Inc. All Rights Reserved</p>
        <ul class="float-right list-inline">
            <li class="list-inline-item"><a href="https://github.com/hieudien14310/Login-Authen">GitHub Project</a></li>
            <li class="list-inline-item"><a href="https://github.com/hieudien14310/Login-Authen/issues">Issues</a></li>
        </ul>
    </div>
</footer>