<%- include('../layoutOn.ejs') %> 
<style>
  .sm {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
  }
  .media{
      margin: 0 20px;
      width: 80px;
      height: 80px;
      background-color: #ccc;
      display: inline-block;
      border-radius: 24px;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0), -6px -6px -6px rgba(255, 255, 255, 1);
      overflow: hidden;
      font-size: 40px;
      transition: .3s linear;
      position: relative;
  }
  .media:hover {
      transform: scale(1.0);
      border-radius: 50%;
      
  }
  .media .socialImage::before {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      background-size: 200% 200%;
      background-position: 75% 75%;
      top: 0;
      left: 0;
      line-height: 80px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: background .5s linear;
  }
  .media:hover .socialImage::before {
      background-position: 0% 0%;
  }
  .fa-facebook-f::before {
      background-image: linear-gradient(135deg, #3b5998 30%, #0a3d62 50%);
  }
  .fa-twitter::before {
      background-image: linear-gradient(135deg, #1da1d2 30%, #0a3d62 50%);
  }
  .fa-instagram::before {
      background-image: linear-gradient(135deg, #c32aa3 30%, #0a3d62 50%);
  }
  .fa-google::before {
      background-image: linear-gradient(135deg, #d71e18 30%, #0a3d62 50%);
  }
  .fa-github::before {
      background-image: linear-gradient(135deg, #211F1F 30%, #0a3d62 50%);
  }
</style>

    <h3 class="pb-2 mt-2 mb-4 border-bottom">Log In </h3>
    <form method="POST" action="/login">
        <div class="form-group row">
          <label for="email" class="col-md-3 col-form-label font-weight-bold text-right">Email</label>
          <div class="col-md-5">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
          </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-md-3 col-form-label font-weight-bold text-right">Password</label>
            <div class="col-md-5">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
        </div>
        <div class="form-group">
          <div class="offset-md-3 col-md-7 pl-2">
            <button class="col-md-3 btn btn-primary" type="submit">
              <i class="fa fa-user fa-sm"> Login</i> 
            </button>
              <a class="col-md-5 btn btn-secondary" href="/forgot">
                <i class="fa fa-key fa-sm"> Forgot password?</i>
              </a>
          </div>
        </div>
        <div class="form-group">
          <div class="offset-md-3 col-md-7 pl-2">
            <hr/>
        </div>
        <div class="form-group">
          <div class="sm">
            <a href="/login/auth/google" class="media">
                <i class="socialImage fab fa-google"></i>
            </a>
            <a href="/login/auth/facebook" class="media">
                <i class="socialImage fab fa-facebook-f"></i>           
            </a>
            <a href="#" class="media">
                <i class="socialImage fab fa-twitter"></i>
            </a>
            <a href="#" class="media">
                <i class="socialImage fab fa-instagram"></i>
            </a>
            <a href="#" class="media">
                <i class="socialImage fab fa-github"></i>
            </a>
        </div>
        </div>
        </div>
    </form>


<%- include('../layoutUnder.ejs') %>
