<%- include('../layoutOn.ejs') %> 

    <h3 class="pb-2 mt-2 mb-4 border-bottom">Register</h3>
    <form method="POST" action="/register">
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
          <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-4">
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
          </div>
      </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-user-plus fa-sm"> Register</i> 
                </button>
            </div>
          </div>
      </form>

<%- include('../layoutUnder.ejs') %>
